    body{
        height:16000px ;
    }
    .upper-bar{
        background-color: #08526d;
        color: #fff;
        padding: 10px;
    }

    .get-quote{
        padding: 2px 10px;
        display: inline-block;
        border: 1px solid #ec1c23;
        margin-left: 20px;
    }
    /* start navbar ----------------------------------------------------*/
    .navbar-brand span:first-child{
    color: #ec1c23;
    }
    .navbar-brand span:last-child{
    color: #08526d;
    }
    .navbar-brand >span{
    font-weight: bolder;
    font-size: 30px;
    }
    .navbar-nav .nav-link{
        font-size: 16px;
        text-transform: uppercase;
        margin-left: 20px;
    color: #08526d !important;
    font-weight: bold;
    }
    .navbar-nav .active> .nav-link{
        color: #ec1c23 !important;

    }
    /* end nav bar */
    /* start section slider --------------------------------------------------------*/
    .slider{
        background-color: #ddd;
    }
    .slider .carousel-inner{
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .slider .carousel-inner h1{
        position: absolute;
        color: #fff;
        z-index: 3;
        font-size: 60px;
        max-width: 900px;
        line-height: 1.5;
        left: 100px;
    }
    .slider .carousel-inner h1 span{
        background-color: #ff363d;
        color: #fff;
        padding: 2px 10px;
        display: inline-block;
    }
    /* over lay بيققي فوق المحتوي ملوش دعوه بالي تحتو  */
    .slider .carousel-inner .overlay{
        position: absolute;
        width: 100%;
        height:100%;
        top: 0px;
        bottom: 0px;
        background-color: rgba(0, 0, 0,.5);
        z-index:2;
        
    }
    .slider .carousel-item{
        background-size: cover;
    }
    .slider .carousel1{
        background-image: url(../img/header-bg-0.png);
    }
    .slider .carousel2{
        background-image: url(../img/footer-bg.png);
    }
    .slider .carousel3{
        background-image: url(../img/header-bg-0.png);
    }
    /* ---------------end slider */
    /* ------------------------------------------------------ start section features */
    .features{
        padding: 50px 0px;
    }
    .features h2{
        color: #08526d;
        font-size: 50px;
        font-weight: bolder;
        margin-bottom: 100px;

    }
    .features i{
        background-color: #ff363d;
        color: #fff;
        padding: 12px;
        margin-bottom: 10px;
    }
    .features h4{
        color: #08526d;
    }
    .features p{
        color: #989898;
        margin-bottom: 40px;
    }
    /* ------------------------------------------------------ end section features */
    /* <!-- ---------------------------------------------------------start section Company Overview --> */
    .overview{
        padding:80px 0;
        background-color: #f0f5f7;
    }
    .overview h2{
        font-size: 50px;
        text-transform: uppercase;
        font-weight: bolder;
        margin-bottom: 30px;
    }
    .overview p{
    width: 80%;
    margin: 0 auto 15px;
    line-height: 2;
    color: #6a6a6a;
    }
    .overview h4{
    letter-spacing: 2px;
    font-weight: normal;
    color: #7d7c7c;
    margin-bottom: 40px;
    }
    .overview button{
    background-color: #ff363d;
    color: #fff;
    border: 1px solid #ff363d;
    font-weight: bold;
    padding: 10px 30px;
    }
    /* <!-- ---------------------------------------------------------end section Company Overview --> */
    /* <!-- --------------------------------------start section Featured-Work --> */
    .Featured-Work{
        padding:80px 0;
    }
    .Featured-Work  h2{
        font-size: 50px;
        text-transform: uppercase;
        font-weight: bolder;
        margin-bottom: 20px;
    }
    .Featured-Work p{
    width: 80%;
    margin: 0 auto 15px;
    line-height: 1.6;
    color: #6a6a6a;
    }
    .Featured-Work ul{
        margin-top: 40px;
        margin: 50px;
    }
    .Featured-Work ul li{
        color: #08526d;
        border: 2px solid #08526d;
        padding: 10px 20px !important;
        margin-left: 10px;
        margin-bottom: 10px;
        transition: all .2s ease-in-out;
    }
    .Featured-Work ul li.active,
    .Featured-Work ul li:hover{
    color: #fff;
    background-color: #ff363d;
    border: 2px solid #ff363d;
    }
    .Featured-Work ul li:hover{
        cursor: pointer;
    }
    .Featured-Work .swer{
        margin-top: 50px;
    }
    .Featured-Work .swer .row{
        /*    مارجين بالسالب عشان يلغي اسكرول الي بالعرض الي عاملو row */
        margin: 0px;
    }
    .Featured-Work .row .col-md {
        padding: 0px;
        transition: all .3s ease-in-out;
    }
    .Featured-Work .col-md img{
        width: 100%;
        height: 100%;
    }
    /* <!-- --------------------------------------end section Featured-Work --> */
    /* <!-- ------------------------------------start section card latest-post --> */
    .latest-post{
        padding: 0px 0px 80px;
    }
    .latest-post  h2 {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .latest-post .myp {
    width: 80%;
    margin: 0 auto 45px;
    line-height: 1.6;
    font-size: 20px;
    color: #6a6a6a;
    }
    .latest-post .card {
        margin-bottom: 50px;
    }
    .latest-post .card .card-title{
        font-size: 20px;
        line-height: 1.5;
        color: #08526d;
    }
    .latest-post .card p{
        margin-bottom: 4px;
    }
    .latest-post .card .card-link{
        color: #ff363d;
    font-weight: bold;
    }
    /* <!-- ------------------------------------end section card latest-post --> */
    
    .Testimonials{
        background-size: cover;
        background-image: url(../img/3.jpg);
        position: relative;
    }
    .Testimonials .container{
    position: relative; 
    z-index: 4;
    }
    .Testimonials .overlay{
        position: absolute;
        width: 100%;
        height:100% ;
        left: 0px;
        top: 0px;
        background-color: rgba(0, 0, 0,.6);
        z-index:3 ;
    }
    .Testimonials .carousel-caption{
    translate: 50%;
    }
    .Testimonials .carousel-caption img{
        margin-bottom:20px;
        width:  160px;
    }
    .Testimonials .carousel-caption h3{
    font-weight:800;
    margin-bottom: 0px;
    }
    .Testimonials .carousel-caption  span{
    font-size: 13px;
    display: inline-block;
    margin-bottom: 30px !important;
    }
    .Testimonials a{
        z-index: 5;
    }
    /* <!-- ---------------------------------end section Testimonials اراء الزوار --> */
    /* <!-- ------------------------------------start section card Pricing-Table --> */
    .Pricing-Table{
        padding: 100px 0px 80px;
        background-color: #f7f7f7;
    }
    .Pricing-Table .card-body{
        padding: 0px;
    }
    .Pricing-Table  h2 {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .Pricing-Table .myp {
    width: 80%;
    margin: 0 auto 100px;
    line-height: 1.6;
    font-size: 20px;
    color: #6a6a6a;
    }
    .Pricing-Table .card {
        margin-bottom: 50px;
    }
    .Pricing-Table .card .card-title{
        font-size: 25px;
        line-height: 1.5;
        color: #08526d;
        margin-top: 40px;
    }
    .Pricing-Table .card .card-text{
    background-color:#f7f7f7;
    margin:30px 0px 10px;
    color: #08526d;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    }
    .Pricing-Table .card .card-text span{
    font-size: 14px;
    text-transform: uppercase
    }
    .Pricing-Table .list-group-item{
        border:none;
    }
    .Pricing-Table .card .card-link{
        color: #Fff;
    font-weight: 600;
    display: inline-block;
    padding:4px 15px;
    margin-top: 15px;
    margin-bottom: 30px;
    text-transform: uppercase;
    background-color: #ff363d;
    font-size: 17px;
    }
    .Pricing-Table  .Corporate{
        position: relative;
        top: -16px;
    }
    .Pricing-Table  .Corporate .card-text{
        background-color: #ff363d;
        color: #Fff;
    }
    .Pricing-Table  .Corporate .card-link{
    background-color: #08526d;
    }
    /* @media quiry screen of mobile------------------------ */
    @media (max-width: 960px){ 
    .Pricing-Table .Corporate{ top:0px;}
    }
    /* <!-- ------------------------------------end section card Pricing-Table --> */
        /* <!-- ------------------------------------ start section Choose-Us --> */
        
    .Choose-Us img {
    width:100%;
    }
    .Choose-Us .col-6 {
        padding: 0;
    }
    .Choose-Us .col-6:last-child{
        background-color: #08526d;
        color: #Fff;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .Choose-Us h2{
        margin:30px;
    }
    .Choose-Us p{
        margin:30px;
        line-height: 2;
        font-size: 18px;
    }
    .Choose-Us a{
        display: inline-block;
        padding: 8px 20px;
        margin: 0 0 0 40px;
        background-color: #ff363d;
        color: #Fff;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
    }
        /* <!-- ------------------------------------ end section Choose-Us --> */
        /* <!-- -----------------------------------------------------start section  Statistics --> */
        .Statistics{
            padding: 100px 0;
            color: #08526d;
        }
        .Statistics .d-block{
            font-size: 50px;
            font-weight: bold;

        }
        .Statistics p {
            color: #ff363d;
            font-size: 20px;
            margin: 0;
        }
        /* <!-- -----------------------------------------------------end section  Statistics --> */
    /* <!--------------------------------------------------------start section Contact-Us --> */
    .Contact-Us{
        padding: 80px 0;
        background-color: #ff363d;
        color: #fff;
        font-size: 22px;
    }
    .Contact-Us p{
    margin: 0;
    }
    .Contact-Us a{
    color: #Fff;
    border: 2px solid #fff;
    padding: 6px 15px 8px;
    text-transform: uppercase;
    font-weight: bold;
    }
    /* <!--------------------------------------------------------end section Contact-Us --> */
        /* <!--------------------------------------------------------start section footer --> */
        .footer .info span:first-of-type{
        color: #ec1c23;
        }
        .footer .info span:last-of-type{
        color: #08526d;
        }
            
        /* <!--------------------------------------------------------end section footer --> */
